#loader{
    background-color: black;
    width: 100vw;
    height: 100vh;
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
}
*{
    font-family: "Inter";
}
#ts{
    text-align:center;
    
    font-size: 2em;
}
#loading{
text-align: center;
animation: uwu 2s infinite ease-in-out;
font-size: 1.5em;
}
@keyframes uwu {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opcaity: 1;
    }
}